{% extends 'base.html.twig' %}

{% block title %}New Articulos{% endblock %}

{% block body %}
    

<div class="container">
    <h1 style="margin: 40px 0px;">Nueva publicación</h1>

    {{ include('articulos/_form.html.twig') }}
</div>
    
{% endblock %}
